* {
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove default margin */
  font-family: system-ui, sans-serif;
}

button {
  margin-right: 8px;  /* Space between writing and planning view buttons */
}
